davmoslav_aplikacija_2/davmoslav_aplikacija_2-ejb/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_8084/davmoslav_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.davmoslav.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.davmoslav.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.davmoslav.nwtis.foi.org/" schemaLocation="http://localhost:8084/davmoslav_aplikacija_1/GeoMeteoWS?xsd=1" />
</xsd:schema>
</types>
<message name="dajVazeceMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresu" />
</message>
<message name="dajVazeceMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresuResponse" />
</message>
<message name="dajPosljednjePodatkeZaAdresu">
<part name="parameters" element="tns:dajPosljednjePodatkeZaAdresu" />
</message>
<message name="dajPosljednjePodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajPosljednjePodatkeZaAdresuResponse" />
</message>
<message name="dajPodatkeZaAdresuInterval">
<part name="parameters" element="tns:dajPodatkeZaAdresuInterval" />
</message>
<message name="dajPodatkeZaAdresuIntervalResponse">
<part name="parameters" element="tns:dajPodatkeZaAdresuIntervalResponse" />
</message>
<message name="dajSveAdrese">
<part name="parameters" element="tns:dajSveAdrese" />
</message>
<message name="dajSveAdreseResponse">
<part name="parameters" element="tns:dajSveAdreseResponse" />
</message>
<message name="dajRangListuAdresa">
<part name="parameters" element="tns:dajRangListuAdresa" />
</message>
<message name="dajRangListuAdresaResponse">
<part name="parameters" element="tns:dajRangListuAdresaResponse" />
</message>
<portType name="GeoMeteoWS">
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuRequest" message="tns:dajVazeceMeteoPodatkeZaAdresu" />
<output wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuResponse" message="tns:dajVazeceMeteoPodatkeZaAdresuResponse" />
</operation>
<operation name="dajPosljednjePodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajPosljednjePodatkeZaAdresuRequest" message="tns:dajPosljednjePodatkeZaAdresu" />
<output wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajPosljednjePodatkeZaAdresuResponse" message="tns:dajPosljednjePodatkeZaAdresuResponse" />
</operation>
<operation name="dajPodatkeZaAdresuInterval">
<input wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajPodatkeZaAdresuIntervalRequest" message="tns:dajPodatkeZaAdresuInterval" />
<output wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajPodatkeZaAdresuIntervalResponse" message="tns:dajPodatkeZaAdresuIntervalResponse" />
</operation>
<operation name="dajSveAdrese">
<input wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajSveAdreseRequest" message="tns:dajSveAdrese" />
<output wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajSveAdreseResponse" message="tns:dajSveAdreseResponse" />
</operation>
<operation name="dajRangListuAdresa">
<input wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajRangListuAdresaRequest" message="tns:dajRangListuAdresa" />
<output wsam:Action="http://serveri.ws.davmoslav.nwtis.foi.org/GeoMeteoWS/dajRangListuAdresaResponse" message="tns:dajRangListuAdresaResponse" />
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajPosljednjePodatkeZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajPodatkeZaAdresuInterval">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajSveAdrese">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajRangListuAdresa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/davmoslav_aplikacija_1/GeoMeteoWS" />
</port>
</service>
</definitions>